* {
    box-sizing: border-box;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #cae7ff;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
}
  
#frame {
    width: 98%;
    min-width: 300px;
    max-width: 960px;
    height: 100%;
    min-height: 280px;
    background: #92aab9;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100%;
    }
}

#frame #sidepanel {
    float: left;
    min-width: 240px;
    max-width: 280px;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame #sidepanel {
        width: 150px;
        min-width: 150px;
    }
}

#frame .chat {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame .chat {
        width: calc(100% - 150px);
    }
}

@media screen and (min-width: 736px) {
    #frame .chat {
        width: calc(100% - 280px);
    }
}

#frame .chat .chat-topbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f5f5f5;
    padding-left: 10px;
}

#frame #sidepanel .online-topbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #212f3d;
    padding-left: 10px;
}

#frame #sidepanel .online-topbar .displayedUsers {
    width: 100%;
    height: 25px;
    line-height: 50px;
}

#frame .chat .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

@media screen and (max-width: 735px) {
    #frame .chat .messages {
        max-height: calc(100% - 105px);
    }
}

#frame .chat .messages .messagelist {
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    padding-top: 5px;
    width: calc(100% - 15px);
    font-size: 0.8em;
    overflow: auto;
    position: absolute;
    bottom: 32;
    max-height: calc(100% - 87px);
}

#frame .chat .messages .messagelist .self p {
    font-weight: bolder;
}

#frame .chat .messages .messagelist .self .message-info {
    background: transparent;
    margin: 4px;
    margin-bottom: 10px;
    font-size: 0.6em;
    font-weight: bold;
}

#frame .chat .messages .messagelist .others .message-info {
    background: transparent;
    margin: 4px;
    margin-bottom: 10px;
    font-size: 0.6em;
}

#frame .chat .messages .messagelist p {
    display: inline-block;
    padding: 6px;
    border-radius: 5px;
    max-width: 370px;
    line-height: 130%;
    background: #f5f5f5;
}

@media screen and (max-width: 735px) {
    #frame .chat .messages .messagelist p {
        max-width: 320px;
    }
}

@media screen and (min-width: 736px) {
    #frame .chat .messages .messagelist p {
        max-width: 700px;
    }
}

#frame .chat .message-input {
    position: absolute;
    height: 37px;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#frame .chat .message-input .wrap {
    position: relative;
}

#frame .chat .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 50px);
    padding: 11px 32px 11px 11px;
    font-size: 0.8em;
    color: #32465a;
}

#frame .chat .message-input .wrap input:focus {
    outline: none;
}

#frame .chat .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

#frame .chat .message-input .wrap button:hover {
    background: #435f7a;
}
#frame .chat .message-input .wrap button:focus {
    outline: none;
}